.gradient-generator {
    width: 100%;
    height: 100%;
  }

.gradient-generator label {
  font-size: 3vmin;
}

.flex-colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gradient-generator p {
  text-align: center;
  font-size: 1.5vmin;
  margin: 0 2vmin
}