html {
  font-family: monospace;
  box-sizing: border-box;
}

.element {
    background: linear-gradient(180deg, hsl(0, 0%, 30%), hsl(0, 0%, 20%));
    padding: 1vmin;
    border-radius: 2vmin;
    border: 0.3vmin solid #fff;
    box-shadow: 0 0 1.3vmin #fff;
    margin: 1vmin;
  }
  
  .grid {
    display: grid;
    place-items: center;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    margin-bottom: 2vmin;
    margin-top: 1vmin;
  }
  
  input[type="range"] {
    -webkit-appearance: none;
    height: 2vmin;
    width: 20vmin;
    border-radius: 1vmin;
    border: 0.1vmin solid #fff;
    background: linear-gradient(180deg, hsl(0, 0%, 90%), hsl(0, 0%, 40%));
  }
  
  /* Input Thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 4vmin;
    width: 4vmin;
    border-radius: 50%;
    clip-path: circle(closest-side);
    transition: background .3s ease-in-out;
    background: conic-gradient(
    hsl(360, 100%, 50%),
    hsl(315, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(225, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(135, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(45, 100%, 50%),
    hsl(0, 100%, 50%));
    cursor: pointer;
  }
  
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 4vmin;
    width: 4vmin;
    border-radius: 50%;
    clip-path: circle(closest-side);
    transition: background .3s ease-in-out;
    background: conic-gradient(
    hsl(360, 100%, 50%),
    hsl(315, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(225, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(135, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(45, 100%, 50%),
    hsl(0, 100%, 50%));
    cursor: pointer;
  }
  
  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 4vmin;
    width: 4vmin;
    border-radius: 50%;
    clip-path: circle(closest-side);
    transition: background .3s ease-in-out;
    background: conic-gradient(
    hsl(360, 100%, 50%),
    hsl(315, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(225, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(135, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(45, 100%, 50%),
    hsl(0, 100%, 50%));
    cursor: pointer;
  }
  
  /* Input Track */
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }